header {
  border-bottom: 1px solid $gray-200;
  width: 100%;
  position: relative;
  margin-bottom: 32px;

  .navbar {
    height: 80px;

    ul.navbar-nav {
      li.nav-item {
        &.active {
          a.nav-link {
            color: $primary;
            font-weight: 600;
          }
        }
        a {
          &.nav-link {
            letter-spacing: 1px;
            color: $gray-900;
            padding-left: 1rem;
            padding-right: 1rem;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}