@import '../../@core/assets/scss/style.scss';
@import './header.scss';

$screen-lg: 960px;
$screen-md: 720px;

body {
  background-color: rgb(255, 255, 255);
}

.brand-text-icon {
  font-size: 26px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: $primary;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.btn-shadow {
  background: #3252DF;
  box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
  border-radius: 4px;
}

@media screen and (max-width: $screen-lg) {
  .lg-remove {
    display: none;
  }
}

@media screen and (max-width: $screen-md) {
  .md-d-inline {
    display: inline;
    margin-left: 15px;
    margin-bottom: 25px;
  }
}